version: '3'

services:
  web:
    build: .
    command: 'python ./manage.py runserver 0.0.0.0:8000'
    container_name: django-api
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"